@import "tailwindcss";

@theme {
  --font-sans: "Roboto Variable", ui-sans-serif, system-ui, sans-serif;

  --color-primary: #19b776;
  --color-text: #233c42;
  --color-subtext: #818e92;
  --color-border: #e5e5e5;
  --color-danger: #eb0000;
  --color-surface: #f2f4f4;
  --color-placeholder: #999999;
  --color-icon: #bbbbbb;
}

body {
  display: flex;
  padding: 64px 16px 16px 16px;
  background-color: var(--color-surface);
  justify-content: center;
  color: var(--color-text);
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 24px;
  max-width: 1120px;
}
