@import "tailwindcss";

@theme {
    --font-sans: "Roboto Variable", ui-sans-serif, system-ui, sans-serif;

    --color-border: #e5e5e5;
    --color-danger: #eb0000;
    --color-icon: #bbbbbb;
    --color-placeholder: #999999;
    --color-primary: #19b776;
    --color-subtext: #818e92;
    --color-surface: #f2f4f4;
    --color-surface-dark: #f7f8f8;
    --color-text: #233c42;
}

:focus {
    outline-color: var(--color-primary);
}

body {
    display: flex;
    background-color: var(--color-surface);
    justify-content: center;
    color: var(--color-text);
}

#app {
    margin: 4rem 1rem 1rem 1rem;
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1.5rem;
}
